# Node modules
node_modules/

# Next.js build output
.next/
out/

# Production files
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
*.log
*.tsbuildinfo
coverage/
dist/
tmp/
temp/
*.sublime-workspace
*.sublime-project
*.idea/
*.vscode/
*.code-workspace
